<!doctype html>
<html>
    <head>
        <title>{% if content.html_title and content.html_title != '' %}{{ content.html_title }}{% else %}{{ content.body.subject }}{% endif %}</title>
        {% if content.meta_description %}<meta name="description" content="{{ content.meta_description }}"/>{% endif %}
  <style type="text/css">
  @import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
 /*   @media only screen and (max-width: 480px){
        .emailButton{
            max-width:600px !important;
            width:100% !important;
        }

        .emailButton a{
            display:block !important;
            font-size:18px !important;
            } */
            h2 {
              font-family:Open-sans;
            }
        }
    }
</style>
</head>
        <style type="text/css" id="hs-inline-css">
            /*<![CDATA[*/
            /* everything in this style tag will be inlined onto matching elements */
            .sample-rule {

            }
            /*]]>*/
        </style>
    </head>
        


        <!-- Insert body here -->
 
<body style="margin: 0; padding: 0;">

  <!-- Parent table -->
 <table align="center" bgcolor="#efefef" border="0" cellpadding="0" cellspacing="0" width="600px" min-width="20%" style="padding-top:30px padding-bottom: 50px; padding-left:0px; padding-right:0px; font-family:'Roboto Slab';">
  <tr>
   <td align="center" style="padding-bottom:20px; padding-top:20px;">
   <!-- Preview text (text which appears right after subject in certain email clients) -->
        <div id="preview_text" style="display:none!important">{% text "preview_text" label="Preview Text <span class=help-text>This will be used as the preview text that displays in some email clients</span>", value="", no_wrapper=True %}</div>

        <!-- View as webpage link -->
        {% if content.create_page %}
            <div>
                Not rendering correctly? View this email as a web page <a class="hubspot-mergetag" data-viewaswebpage="true" href="{{ view_as_page_url }}">here</a>.
            </div>
        {% endif %}
    <img src= "http://cdn2.hubspot.net/hub/217889/file-547525978-png/images/logo.png" style="padding-bottom: 2%; padding-top:5%; max-width: 20%; min-width:50px; height:auto;"> 
    <h4 style="padding-bottom:30px; font-weight: 200;"> News from Organimi</h4>
    
  
  
<!-- BEGIN NESTED TABLES -->


<!-- IMAGE TABLE 1-->
<table bgcolor=white align="center" border="0" cellpadding="0" cellspacing="0" width="80%">
<tr>
  <td  <td align="left" style="background-color: white;">
    <img src="http://go.pressly.com/l/63512/2015-07-15/hp2wk/63512/50518/contentscope.jpg" width="100%" height="auto" style="display:block;">
  </table>
<!-- End image table -->


<!-- TEXT DESCRIPTION TABLE -->
  <table bgcolor=white align="center" border="0" cellpadding="0" cellspacing="0" width="80%" style="     margin-bottom:40px; padding-bottom: 30px; padding-left:50px; padding-right:40px; padding-top: 30px; font-family:'Roboto'">
    <tr>
      <td>
         <h2 style="font-family:'Roboto Slab';">Introducing a new series: The Content Scope</h2>
        <p style="font-weight:300;">We’re super pumped to partner up with Epictions to bring you The Content Scope, a bi-weekly infographic series with deep insights into the content, channels and community you are after.</p>
        <p style="font-weight:300;"> Power boost your content with industry-specific data that actually makes sense. </p>
      </td>
    </tr>

    <!-- Empty row to add space between text and read more button with height 50 -->
    <tr height=50>
      <td>
      </td>
    </tr>
    <!-- End empty row -->

    <!-- READ MORE BUTTON ROW -->
    <tr>
      <td align= "center">
         <a href="http://blog.pressly.com/2015/07/13/the-content-scope-personal-finance-management/" style="background-color: #2BB29C  ;font-weight:700 ;color: #ffffff ;padding:13px 24px 11px;float:center; border-radius:5px; text-decoration:none;" target="_blank;">Read the full post →</a> 
      </td>
      </tr>



      <!-- END READ MORE BUTTON ROW -->

  </table>
  <!-- END FIRST BLOCK OF NEWS LETTER -->


  <!-- BEGIN SECOND BLOCK -->


  <!-- IMAGE TABLE 2-->
  <table bgcolor=white align="center" border="0" cellpadding="0" cellspacing="0" width="80%">
   <tr>
      <td  <td align="left" style="background-color: white;">
        <img src="http://go.pressly.com/l/63512/2015-07-15/hp2wm/63512/50516/headlines.jpg" width="100%" height="auto" style="display:block;">
      </td>
   </tr>
  </table>
<!-- END IMAGE TABLE -->

<!-- TEXT DESCRIPTION TABLE -->
    <table bgcolor=white align="center" border="0" cellpadding="0" cellspacing="0" width="80%" style="     margin-bottom:40px; padding-bottom: 30px; padding-left:50px; padding-right:40px; font-family:'Roboto';">
    <tr>
      <td>
         <h2 style="font-family:'Roboto Slab';">If you're going to read one article on writing headlines, make it this one</h2>
        <p style="font-weight:300;">As the first gateway between your audience and your content, digital marketers give headlines a lot of attention.</p>
        <p style="font-weight:300;"> Covering a range of different types and structures, this post is packed with 15 different techniques with real examples to make sure that your next headline is the best one you’ve ever written. </p>
      </td>
    </tr>

    <!-- Empty row to add space between text and read more button with height 50 -->
    <tr height=50>
      <td>
      </td>
    </tr>
    <!-- End empty row -->

    <!-- READ MORE BUTTON ROW -->
    <tr>
      <td align= "center">
         <a href="http://www.contentbible.com/home/123-headline-writing-15-hacks-that-will-send-you-more-traffic" style="background-color: #2BB29C  ;font-weight:700 ;color: #ffffff ;padding:13px 24px 11px;float:center; border-radius:5px; text-decoration:none;" target="_blank;">Read the full post →</a> 
      </td>
      </tr>
      <!-- END READ MORE BUTTON ROW -->

  </table>
  <!-- END SECOND BOX OF NEWSLETTER -->



<!-- BEGIN THIRD BLOCK -->


  <!-- IMAGE TABLE 3-->
  <table bgcolor=white align="center" border="0" cellpadding="0" cellspacing="0" width="80%">
   <tr>
      <td  <td align="left" style= "background-color: white;">
        <img src="http://go.pressly.com/l/63512/2015-07-15/hp2wh/63512/50514/facebook.jpg" width="100%" height="auto" style="display:block;">
      </td>
   </tr>
  </table>
<!-- END IMAGE TABLE -->

<!-- TEXT DESCRIPTION TABLE -->
    <table bgcolor=white align="center" border="0" cellpadding="0" cellspacing="0" width="80%" style="     margin-bottom:40px; padding-bottom: 30px; padding-left:50px; padding-right:40px; font-family:'Roboto';">
    <tr>
      <td>
         <h2 style="font-family:'Roboto Slab';">How a designer generated $18,750 in sales using Facebook, in 48 hours</h2>
        <p style="font-weight:300;">A designer, not a marker. And to a low traffic e-commerce site that sells seasonal products (wetsuits!).</p>
        <p style="font-weight:300;">  All in 48 hours. Curious how he did it? Just click through to read the whole story. </p>
      </td>
    </tr>

    <!-- Empty row to add space between text and read more button with height 50 -->
    <tr height=50>
      <td>
      </td>
    </tr>
    <!-- End empty row -->

    <!-- READ MORE BUTTON ROW -->
    <tr>
      <td align= "center">
         <a href="http://www.contentbible.com/home/127-retargeting-training-and-conversion-systems-retargeting-flash-sale-case-study-how-an-e-commerce-store-generated-18750-dollars-in-sales-from-114-dollars-facebook-marketing-in-48-hours" style="background-color: #2BB29C  ;font-weight:700 ;color: #ffffff ;padding:13px 24px 11px;float:center; border-radius:5px; text-decoration:none;" target="_blank;">Read the full post →</a> 
      </td>
      </tr>
      <!-- END READ MORE BUTTON ROW -->

  </table>
  <!-- END THIRD BOX OF NEWSLETTER -->
 

 <!-- DEMO REQUEST CARD -->
     <table bgcolor=white align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="     margin-bottom:40px;">
           <tr>
             <td align="center" bgcolor="#df7474 " style="color:white;">
            <!--  <p style="padding-left:30px; padding-right:30px;">See it for yourself: Pressly is the best way to discover, share and make the most out of your content.Create beautiful hubs in no time, gather lead data and maximize engagement.</p> -->
                    
                    <!-- Product Placement Table -->
                     <table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family:'Roboto';">
                         <tr>
                          <td align="left">
                            <h2 style="padding-left:20px; font-family:'Roboto Slab';"> Curious about Pressly? </h2>
                            <p style="padding-left:20px; padding-right:30px;">You could check out our product page, but it’s easier to just see for yourself.</p>
                            <p style="padding-left:20px; padding-right:30px;">Pressly is the best way to discover, share and make the most out of your content.</p>
                          <!--  <a href="http://go.pressly.com/calender" style="background-color: #53646D  ;font-weight:700 ;color: #ffffff ;padding:13px 24px 11px;float:center; border-radius:5px; text-decoration:none;" target="_blank">Book a Free Demo!</a> -->

                          <table border="0" cellpadding="0" cellspacing="0" class="emailButton" style="       border-radius:3px; padding-left:20px;">
                              <tr>
                                  <td align="center" valign="middle" bgcolor="white" class="emailButtonContent" style="padding-top:13px; padding-right:24px; padding-bottom:11px; padding-left:24px; border-radius:5px;">
                                      <a href="http://go.pressly.com/demo" target="_blank" style="color:#df7474; font-family:Roboto Slab, Arial, sans-serif; font-size:12px; font-weight:bold; text-decoration:none;">Show me!</a>
                                  </td>
                              </tr>
                            </table>

                          <!-- DEMO REQUEST BUTTON AS TABLE -->
                        <!--  <table border-radius="1" cellpadding="0" cellspacing="0" width="90%" style="border-radius:3px;">
                            <tr>
                            <td align="center" height="50" bgcolor="grey" style="border-radius:5px;i">
                             Get a Free Demo!</a>
                            </td>
                        </tr>
                          </table> -->
                          
                           <!-- END DEMO REQUEST BUTTON -->
                          </td>
                          <td align="center" width="50%">
                           <img src= "http://go.pressly.com/l/63512/2015-07-15/hp2rm/63512/50510/Pressly_Product_Image2.jpg" style="width:100%; height:auto; display:block; line-height:50%;">
                           
                          </td>
                         </tr>
                        </table>
                        <!-- END PRODUCT PLACEMENT TABLE -->
              </td>
            </tr>

                     <!--<tr>
                      <td bgcolor="#2BB29C" align="center" >
                        
                         <img src="" width="50%">
                        </td>
                       </tr>  -->
              
                <!--  <tr height=50>
                   <td bgcolor="white">
                   </td>
                  </tr>
             <!-- <tr>
              <td  bgcolor="white" align="center">
              <a href="http://go.pressly.com/calender" style="background-color: #53646D  ;font-weight:700 ;color: #ffffff ;padding:13px 24px 11px;float:center; border-radius:5px; text-decoration:none;" target="_blank">Book a Free Demo!</a>
              </td>
            </tr> -->
          </table> 
<!-- END DEMO REUQEST CARD -->


<!-- ASSORTED LINKS -->
 <!-- <table bgcolor=white align="center" border="0" cellpadding="0" cellspacing="0" width="80%" style="     margin-bottom:40px; padding-bottom: 30px; padding-left:50px; padding-right:40px;">
     <tr>
      <td align="center">
        <h3>Some links worth mentioning</h3>
      </td>
    </tr>
    <tr align="left">
      <td>
        <ul>
          <li> Link 1 </li>
          <li> Link 2 </li>
        </ul>
        </td>
      </tr>
    </table> -->

    <!-- END ASSORTED LINKS CARD -->

<hr style="width:75%;">
<!-- FOOTER -->
    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="font-family:'Roboto';">
     <tr>
      <td>
       <p style= "padding-left:20px; font-size: 9px; color:grey">This message was sent to you because you downloaded the Content Marketing Bible from the Pressly website.</p>

        <p style= "padding-left:20px; padding-right:20px; font-size: 9px; color:grey"> If you would not like to receive these emails in the future, click here to <a href="%%unsubscribe%%" style="color:grey;">unsubscribe</a></p>
        <p style="padding-left:20px; font-size: 9px; color:grey;">Copyright © 2015 Pressly, All rights reserved.</p>
      </td>
     </tr>
    </table>
<!-- END FOOTER -->

   </td>
  </tr>
</table>
</body>
</html>


        <!-- Office location information and unsubscribe links -->
        <p id="footer">
            {{ site_settings.company_name }}&nbsp;
            {{ site_settings.company_street_address_1 }}&nbsp;
            {{ site_settings.company_street_address_2 }}&nbsp;
            {{ site_settings.company_city }}&nbsp;
            {{ site_settings.company_state }}&nbsp;
            {{ site_settings.company_zip }}&nbsp;
            {{ site_settings.company_country }}&nbsp;
            <br/>
            You received this email because you are subscribed to {{ subscription_name }} from {{ site_settings.company_name }}.
            <br/>
            Update your <a class="hubspot-mergetag" data-unsubscribe="true" href="{{ unsubscribe_link }}">email preferences</a> to choose the types of emails you receive.
            <br/>
            <a class="hubspot-mergetag" data-unsubscribe="true" href="{{ unsubscribe_link_all }}">Unsubscribe from all future emails</a>
        </p>
    </body>
</html>